# vscode files
mage_output_file.go

# Generated binaries
caldera-security-tests*

# Code coverage output file
coverage-all.out

# Distribution directory for binaries
bin/

# Generated config
config/*

# Generated images
images/*.png

# Generated log files
*.log
